.sidebar-menu::-webkit-scrollbar {
  width: 4px;
}

.sidebar-menu::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-menu::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 6px;
  border: none;
}

/* For Firefox */
.sidebar-menu {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}
/* @media (max-width: 768px) {
  .sidebar-menu {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
} */
